@model HSP_Models.Models.Userdetail

@{
    ViewData["Title"] = "showuserbyid";
}

<!--<h1>showuserbyid</h1>

<div>
    <h4>Userdetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
    </dl>
</div>
<div>-->
@*<a asp-action="updateuserdetails" asp-route-UID="@Model.Uid">Edit</a> |*@
<!--<a asp-action="showuserdetails">Back to List</a>
</div>-->

<!DOCTYPE html>
<html>
<head>
    <title>Home Service | Customer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/css/fontawesome-all.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="~/css/flexslider.css" type="text/css" media="all">
    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~//fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
    <link href="~//fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/sidenav.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

</head>
<body>
    <header>
        <!-- header -->
        <div class="header-w3l">

            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="index.html">Home Service</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item ">
                            <a class="nav-link" href="@Url.Action("ShowAll", "Home")" font-color:"white">Home </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("showuserbyid","CustomerdetailsUI")">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("showSPdetails","ServiceProvidedUI")">Services </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="@Url.Action("insertfeedbackuser","ServiceFeedbackUI")">Feedback</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Home")">logout </a>
                        </li>
                    </ul>
                </div>


            </nav>

            <!-- //header -->
            <!-- banner -->
            <!-- banner-slider -->





            <div class="w3l_banner_info">
                <div class="slider1">
                    <div class="callbacks_container">
                        <ul class="rslides" id="slider3">
                            <li>
                                <div class="slider1-img">
                                    <div class="slider_banner_info">


                                    </div>
                                </div>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
            <!-- //banner-slider -->
        </div>
    </header>



    <div class="card">
        @*<h3>@Html.DisplayNameFor(model => model.UserName)</h3>
        <h3>@Html.DisplayNameFor(model => model.UserName)</h3>
        <p>M.G.Road</p>
        <p>john@gmail.com</p>
        <p>9568456217</p>*@
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Uid)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Uid)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Address)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EmailId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EmailId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ContactNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ContactNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Password)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Password)
            </dd>
        </dl>
            <button><a href="#editEmployeeModal" class="edit" data-toggle="modal"><i style='font-size:24px' class='fas'>&#xf044 Edit</i></a></button>
           


    </div>


    <!-- Footer-->
    <section class="footer">
        <div class="container">
            <h3>Home Service</h3>
            <div class="wrapper">
                <ul class="social-icons icon-circle icon-zoom list-unstyled list-inline">
                    <li> <a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li> <a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li> <a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
            <div class="copyright">
                <p>© 2021 Capgemini Service. All Rights Reserved | Design by <a href="https://capgemini.com/">Capgemini</a></p>

            </div>
        </div>
    </section>
    <!-- /Footer-->
    <!-- Edit Modal HTML -->
    <div id="editEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form asp-action="updateuserdetails">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Uid" />
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EmailId" class="control-label"></label>
                        <input asp-for="EmailId" class="form-control" />
                        <span asp-validation-for="EmailId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ContactNumber" class="control-label"></label>
                        <input asp-for="ContactNumber" class="form-control" />
                        <span asp-validation-for="ContactNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Delete Modal HTML -->
    <div id="deleteEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <h4 class="modal-title">Delete </h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete these Records?</p>
                        <p class="text-warning"><small>This action cannot be undone.</small></p>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-danger" value="Delete">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- //bootstrap-pop-up for login and register-->

    <script src="~/js/jquery.min.v3.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/move-top.js"></script>
    <script src="~/js/easing.js"></script>
    <script src="~/js/SmoothScroll.min.js"></script>



    <!-- sign in and signup pop up toggle script -->
    <script>
        $('.toggle').click(function () {
            // Switches the Icon
            $(this).children('i').toggleClass('fa-pencil');
            // Switches the forms
            $('.form').animate({
                height: "toggle",
                'padding-top': 'toggle',
                'padding-bottom': 'toggle',
                opacity: "toggle"
            }, "slow");
        });
    </script>
    <!-- sign in and signup pop up toggle script -->
    <!-- start-smoth-scrolling -->
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //here ends scrolling icon -->
    <!-- scrolling script -->
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>
    <script>
        $(document).ready(function () {
            // Activate tooltip
            $('[data-toggle="tooltip"]').tooltip();

            // Select/Deselect checkboxes
            var checkbox = $('table tbody input[type="checkbox"]');
            $("#selectAll").click(function () {
                if (this.checked) {
                    checkbox.each(function () {
                        this.checked = true;
                    });
                } else {
                    checkbox.each(function () {
                        this.checked = false;
                    });
                }
            });
            checkbox.click(function () {
                if (!this.checked) {
                    $("#selectAll").prop("checked", false);
                }
            });
        });
    </script>

    <!-- //scrolling script -->
    <!--//start-smoth-scrolling -->


</body>
</html>