@model IEnumerable<HSP_Models.Models.ServiceFeedback>

@{
    ViewData["Title"] = "showuserdetails";
}

@*<h1>showuserdetails</h1>

<p>
    <a asp-action="insertfeedbackuser">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ratings)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ratings)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Spid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Fid">Edit</a> |
<a asp-action="Details" asp-route-id="@item.Fid">Details</a> |
<a asp-action="Delete" asp-route-id="@item.Fid">Delete</a>
</td>
        </tr>
}
    </tbody>
</table>*@




<!DOCTYPE html>
<html>
<head>
    <title>Home Service | Customer</title>
    <link rel="shortcut icon" href="~/image/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/css/fontawesome-all.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="~/css/flexslider.css" type="text/css" media="all">
    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~//fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
    <link href="~//fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">

    <link rel="stylesheet" href="~/sidenav.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .topnav {
            overflow: hidden;
            background-color: #e9e9e9;
        }

            .topnav a {
                float: left;
                display: block;
                color: black;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
            }

                .topnav a:hover {
                    background-color: #ddd;
                    color: black;
                }

                .topnav a.active {
                    background-color: #2196F3;
                    color: white;
                }

            .topnav .search-container {
                float: right;
            }

            .topnav input[type=text] {
                padding: 6px;
                margin-top: 8px;
                font-size: 17px;
                border: none;
            }

            .topnav .search-container button {
                float: right;
                padding: 6px 10px;
                margin-top: 8px;
                margin-right: 16px;
                background: #ddd;
                font-size: 17px;
                border: none;
                cursor: pointer;
            }

                .topnav .search-container button:hover {
                    background: #ccc;
                }

            .topnav a, .topnav input[type=text], .topnav .search-container button {
                float: none;
                display: block;
                text-align: left;
                width: 100%;
                margin: 0;
                padding: 14px;
            }

            .topnav input[type=text] {
                border: 1px solid #ccc;
            }
        }
    </style>
</head>
<body>
    <header>
        <!-- header -->
        <div class="header-w3l">

            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="index.html">Home Service</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("AdminMenuLandingPage","Home")">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("showuserdetails","CustomerdetailsUI")">Customers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("showSPdetails","ServiceProvidedUI")">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="@Url.Action("showServiceProviderdetails","CustomerOrderUI")">Service History</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="@Url.Action("showuserdetails","ServiceFeedbackUI")">Feedback</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="@Url.Action("Index","Home")">Logout</a>
                        </li>
                    </ul>
                </div>

            </nav>

            <!-- //header -->
            <!-- banner -->
            <!-- banner-slider -->





            <div class="w3l_banner_info">
                <div class="slider1">
                    <div class="callbacks_container">
                        <ul class="rslides" id="slider3">
                            <li>
                                <div class="slider1-img">
                                    <div class="slider_banner_info">


                                    </div>
                                </div>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
            <!-- //banner-slider -->
        </div>
    </header>



    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2><b>Feedback</b></h2>
                        </div>


                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.CustomerName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Ratings)
                                </th>
                               @* <th>
                                    @Html.DisplayNameFor(model => model.OrderId)
                                </th>*@
                                @*<th>
                                    @Html.DisplayNameFor(model => model.Spid)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Uid)
                                </th>*@
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CustomerName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Ratings)
                                    </td>
                                   @* <td>
                                        @Html.DisplayFor(modelItem => item.OrderId)
                                    </td>*@
                                    @*<td>
                                        @Html.DisplayFor(modelItem => item.Spid)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Uid)
                                    </td>*@
                                    
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="clearfix">
                        <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                        <ul class="pagination">
                            <li class="page-item disabled"><a href="#">Previous</a></li>
                            <li class="page-item"><a href="#" class="page-link">1</a></li>
                            <li class="page-item"><a href="#" class="page-link">2</a></li>
                            <li class="page-item active"><a href="#" class="page-link">3</a></li>
                            <li class="page-item"><a href="#" class="page-link">4</a></li>
                            <li class="page-item"><a href="#" class="page-link">5</a></li>
                            <li class="page-item"><a href="#" class="page-link">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <!-- Footer-->
        <section class="footer">
            <div class="container">
                <h3>Home Service</h3>
                <div class="wrapper">
                    <ul class="social-icons icon-circle icon-zoom list-unstyled list-inline">
                        <li> <a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li> <a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li> <a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
                <div class="copyright">
                    <p>© 2021 Capgemini Service. All Rights Reserved | Design by <a href="https://capgemini.com/">Capgemini</a></p>

                </div>
            </div>
        </section>
        <!-- /Footer-->
        <!-- bootstrap-pop-up for login and register -->
        <div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        Fast Service
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <section>
                        <div class="modal-body">
                            <div class="loginf_module">
                                <div class="module form-module">
                                    <div class="toggle">
                                        <i class="fa fa-times fa-pencil"></i>
                                        <div class="tooltip">Register</div>
                                    </div>
                                    <div class="form">
                                        <h3>Login to your account</h3>
                                        <form action="#" method="post">
                                            <input type="text" name="Username" placeholder="Username" required="">
                                            <input type="password" name="Password" placeholder="Password" required="">
                                            <input type="submit" value="Login">
                                        </form>
                                        <div class="cta">
                                            <a href="#">Forgot password?</a>
                                        </div>
                                    </div>
                                    <div class="form">
                                        <h3>Create a new account</h3>
                                        <form action="#" method="post">
                                            <input type="text" name="Username" placeholder="Username" required="">
                                            <input type="password" name="Password" placeholder="Password" required="">
                                            <input type="email" name="Email" placeholder="Email address" required="">
                                            <input type="text" name="Phone" placeholder="Phone Number" required="">
                                            <input type="submit" value="Register">
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!-- Edit Modal HTML -->
        <div id="addEmployeeModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form>
                        <div class="modal-header">
                            <h4 class="modal-title">Add Customer</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>Address</label>
                                <textarea class="form-control" required></textarea>
                            </div>
                            <div class="form-group">
                                <label>Phone</label>
                                <input type="text" class="form-control" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                            <input type="submit" class="btn btn-success" value="Add">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Edit Modal HTML -->
        <div id="editEmployeeModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form>
                        <div class="modal-header">
                            <h4 class="modal-title">Edit Employee</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>Address</label>
                                <textarea class="form-control" required></textarea>
                            </div>
                            <div class="form-group">
                                <label>Phone</label>
                                <input type="text" class="form-control" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                            <input type="submit" class="btn btn-info" value="Save">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Delete Modal HTML -->
        <div id="deleteEmployeeModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form>
                        <div class="modal-header">
                            <h4 class="modal-title">Delete Employee</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete these Records?</p>
                            <p class="text-warning"><small>This action cannot be undone.</small></p>
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                            <input type="submit" class="btn btn-danger" value="Delete">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- //bootstrap-pop-up for login and register-->

        <script src="~/js/jquery.min.v3.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/move-top.js"></script>
        <script src="~/js/easing.js"></script>
        <script src="~/js/SmoothScroll.min.js"></script>


        <!-- sign in and signup pop up toggle script -->
        <script>
        $('.toggle').click(function () {
            // Switches the Icon
            $(this).children('i').toggleClass('fa-pencil');
            // Switches the forms
            $('.form').animate({
                height: "toggle",
                'padding-top': 'toggle',
                'padding-bottom': 'toggle',
                opacity: "toggle"
            }, "slow");
        });
        </script>
        <!-- sign in and signup pop up toggle script -->
        <!-- start-smoth-scrolling -->
        <!-- here stars scrolling icon -->
        <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
        </script>
        <!-- //here ends scrolling icon -->
        <!-- scrolling script -->
        <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
        </script>
        <script type="text/javascript">
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
        </script>
        <script>
        $(document).ready(function () {
            // Activate tooltip
            $('[data-toggle="tooltip"]').tooltip();

            // Select/Deselect checkboxes
            var checkbox = $('table tbody input[type="checkbox"]');
            $("#selectAll").click(function () {
                if (this.checked) {
                    checkbox.each(function () {
                        this.checked = true;
                    });
                } else {
                    checkbox.each(function () {
                        this.checked = false;
                    });
                }
            });
            checkbox.click(function () {
                if (!this.checked) {
                    $("#selectAll").prop("checked", false);
                }
            });
        });
        </script>

        <!-- //scrolling script -->
        <!--//start-smoth-scrolling -->


</body>
</html>