@model IEnumerable<HSP_Models.Models.CustomerBill>

@{
    ViewData["Title"] = "showAllBilldetails";
}

<h1>showAllBilldetails</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.servicetype)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.servicetype)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cost)
            </td>
            <td>
               @* <a asp-action="Edit" asp-route-id="@item.bill_number">Edit</a> |*@
                <a asp-action="Details" asp-route-id="@item.bill_number">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.bill_number">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
