
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <title>Home Service | Customer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/css/fontawesome-all.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="~/css/flexslider.css" type="text/css" media="all">
    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~//fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
    <link href="~//fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/sidenav.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <style>

        input[type=text], select, textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }

        label {
            padding: 12px 12px 12px 0;
            display: inline-block;
        }

        input[type=submit] {
            background-color: #04AA6D;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            float: right;
        }

            input[type=submit]:hover {
                background-color: #45a049;
            }



        .col-25 {
            float: left;
            width: 25%;
            margin-top: 6px;
        }

        .col-75 {
            float: left;
            width: 75%;
            margin-top: 6px;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

    </style>
</head>
<body>
    <header>
        <!-- header -->
        <div class="header-w3l">

            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="index.html">Home Service</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item ">
                            <a class="nav-link" href="@Url.Action("ShowAll", "Home")" font-color:"white">Home </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("showuserbyid","CustomerdetailsUI")">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("showSPdetails","ServiceProvidedUI")">Services </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="@Url.Action("insertfeedbackuser","ServiceFeedbackUI")">Feedback</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Home")">logout </a>
                        </li>
                    </ul>
                </div>


            </nav>

            <!-- //header -->
            <!-- banner -->
            <!-- banner-slider -->





            <div class="w3l_banner_info">
                <div class="slider1">
                    <div class="callbacks_container">
                        <ul class="rslides" id="slider3">
                            <li>
                                <div class="slider1-img">
                                    <div class="slider_banner_info">


                                    </div>
                                </div>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
            <!-- //banner-slider -->
        </div>
    </header>

    <div class="container1">
        <h1> Thank You!</h1><br />
        <h3> Your Order Has Been Placed !!</h3>
    </div>




    <!-- Footer-->
    <section class="footer">
        <div class="container">
            <h3>Home Service</h3>
            <div class="wrapper">
                <ul class="social-icons icon-circle icon-zoom list-unstyled list-inline">
                    <li> <a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li> <a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li> <a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
            <div class="copyright">
                <p>© 2021 Capgemini Service. All Rights Reserved | Design by <a href="https://capgemini.com/">Capgemini</a></p>

            </div>
        </div>
    </section>
    <!-- /Footer-->
    <!-- //bootstrap-pop-up for login and register-->

    <script src="~/js/jquery.min.v3.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/move-top.js"></script>
    <script src="~/js/easing.js"></script>
    <script src="~/js/SmoothScroll.min.js"></script>





</body>
</html>
