@model IEnumerable<HSP_Models.Models.ServicesProvided>

@{
    ViewData["Title"] = "showServicedetails";
}

<h1>showServicedetails</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ServiceProviderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servicetype)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostPerhour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceProviderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servicetype)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostPerhour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sp.Spid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ServiceId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ServiceId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ServiceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
